<ng-container *ngIf="configuration$ | async as config">
  @if (config.expressPaymentConfig.googlePayExpressEnabledOnCart) {
    <cx-google-express-payment [configuration]="config"></cx-google-express-payment>
  }
  @if (config.expressPaymentConfig.applePayExpressEnabledOnCart) {
    <cx-apple-express-payment [configuration]="config"></cx-apple-express-payment>
  }
  @if (config.expressPaymentConfig.paypalExpressEnabledOnCart) {
    <cx-paypal-express-payment [configuration]="config"></cx-paypal-express-payment>
  }
  <p></p>
</ng-container>
