<br/>
<ng-container *ngIf="product$ | async as product">
  <p *ngIf="(product?.purchasable && (product?.price?.value > 0)) && configuration$ | async as config">
    @if (config.expressPaymentConfig.googlePayExpressEnabledOnProduct) {
      <div class="adyen-pdp-express-btn">
        <cx-google-express-payment [product]="product" [configuration]="config"></cx-google-express-payment>
      </div>
    }
    @if (config.expressPaymentConfig.applePayExpressEnabledOnProduct) {
      <div class="adyen-pdp-express-btn adyen-pdp-express-btn-apple">
        <cx-apple-express-payment [product]="product" [configuration]="config"></cx-apple-express-payment>
      </div>
    }
    @if (config.expressPaymentConfig.paypalExpressEnabledOnProduct) {
      <div class="adyen-pdp-express-btn">
        <cx-paypal-express-payment [product]="product" [configuration]="config"></cx-paypal-express-payment>
      </div>
    }
  </p>
</ng-container>

